body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.container {
    text-align: center;
}

.status-container {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}
  
h1 {
    color: #333;
}

.status {
    color: #4caf50;
    font-size: 18px;
    margin-top: 10px;
    animation: running 2s infinite linear;
}

@keyframes running {
    0% {content: "running.";}
    20% {content: "running..";}
    40% {content: "running...";}
    60% {content: "running....";}
    80% {content: "running.....";}
    100% {content: "running.";}
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer a {
    color: #fff;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}
